<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <!-- Profile info? -->
            <p class="mt-4">
            Welcome to the Kitchen Table
            </p>
            <!-- New post input -->
            <app-new-post-input (onPostAdd)="addPost($event)"></app-new-post-input>
        </div>
        <div class="col-md-9">
            <!-- List of posts -->
            <app-post-list class="col-12" [posts]="posts" (postDelete)="deletePost($event)"></app-post-list>
        </div>
    </div>
</div>
