<div class="card">
    <div class="card-block">
        <div class="row justify-content-between">
            <div class="col-auto post-user">
                <span class="post-owner">{{ post.owner.username }}</span>
                <br>
                <span class="post-date">{{post.created | date:'short'}}</span>
            </div>
            <div class="col text-left">
                <p class="card-text">{{ post.content }}</p>
            </div>
            <div class="col-auto">
                <span *ngIf="likeCount() != 0" class="tooltip badge badge-pill badge-success">
                    <span class="tooltiptext">
                        <span *ngFor="let like of post.likes">
                            {{ like.owner.username }}
                            <br>
                        </span>
                    </span>
                    {{ likeCount() }}
                </span>
                <button *ngIf="userHasLiked()" type="button" class="btn btn-sm btn-success" (click)="unlikePost()">
                    Liked
                </button>
                <button *ngIf="!userHasLiked()" type="button" class="btn btn-sm btn-success" (click)="likePost()">
                    Like
                </button>
                <button *ngIf="canDelete()" type="button" class="btn btn-sm btn-danger" (click)="deletePost()">Delete</button>
            </div>
        </div>
    </div>
</div>
